@mixin button-background($background, $color) {
  background-color: $background;
  border: solid 1px $background;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($background, 5%);
    color: $color;
    transition: .3s;
  }
}
